# The notebook will include the following sections:

The goal is to create a sample dataset for a data visualization project on looker studio. 

Source : https://www.kaggle.com/datasets/bobnau/daily-website-visitors?resource=download

## I. Dataset cleaning
- Uploading the dataset
- Converting column types
- Renaming columns
- Removing columns

## II. Dataset completion
- Adding columns
- Generating randomized values to fill the columns
- Exporting the dataset as a csv file

## <span style="color:blue"> I. Dataset cleaning </span>

 <span style="color:red">Uploading the dataset  </span>

In [183]:
import pandas as pd 

# Display all columns
pd.pandas.set_option('display.max_columns', None)

# Read the csv file 
df = pd.read_csv("downloads/website_traffic.csv")
df

,Row,Day,Day.Of.Week,Date,Page.Loads,Unique.Visits,First.Time.Visits,Returning.Visits
0,1,Sunday,1,9/14/2014,"2,146","1,582","1,430",152
1,2,Monday,2,9/15/2014,"3,621","2,528","2,297",231
2,3,Tuesday,3,9/16/2014,"3,698","2,630","2,352",278
3,4,Wednesday,4,9/17/2014,"3,667","2,614","2,327",287
4,5,Thursday,5,9/18/2014,"3,316","2,366","2,130",236
...,...,...,...,...,...,...,...,...
2162,2163,Saturday,7,8/15/2020,"2,221","1,696","1,373",323
2163,2164,Sunday,1,8/16/2020,"2,724","2,037","1,686",351
2164,2165,Monday,2,8/17/2020,"3,456","2,638","2,181",457
2165,2166,Tuesday,3,8/18/2020,"3,581","2,683","2,184",499
2166,2167,Wednesday,4,8/19/2020,"2,064","1,564","1,297",267

 <span style="color:red"> Converting column types  </span>

In [184]:
# Convert the columns to int type 

# First remove the commas from the values in the "Unique.Visits" column and then convert to integers
df['Page.Loads'] = df['Page.Loads'].str.replace(',', '').astype(int)
df['Unique.Visits'] = df['Unique.Visits'].str.replace(',', '').astype(int)
df['First.Time.Visits'] = df['First.Time.Visits'].str.replace(',', '').astype(int)
df['Returning.Visits'] = df['Returning.Visits'].str.replace(',', '').astype(int)

In [185]:
# Checking the value types of the columns
df.dtypes

Row                   int64
Day                  object
Day.Of.Week           int64
Date                 object
Page.Loads            int32
Unique.Visits         int32
First.Time.Visits     int32
Returning.Visits      int32
dtype: object

 <span style="color:red"> Renaming columns  </span>

In [186]:
# Rename the columns
df.rename(columns={'Day': 'day'}, inplace=True)
df.rename(columns={'Day.Of.Week': 'day_of_week'}, inplace=True)
df.rename(columns={'Date': 'date'}, inplace=True)
df.rename(columns={'Page.Loads': 'page_loads'}, inplace=True)
df.rename(columns={'Unique.Visits': 'total_visits'}, inplace=True)
df.rename(columns={'First.Time.Visits': 'unique_visits'}, inplace=True)
df.rename(columns={'Returning.Visits': 'returning_visits '}, inplace=True)

 <span style="color:red"> Removing columns  </span>

In [187]:
# Drop the 'Row' column
df.drop('Row', axis=1, inplace=True)

## <span style="color:blue"> I. Dataset completion </span>

<span style="color:red"> Adding columns </span>

In [188]:
# Assigning the columns to the df
# = 0 in order to fill the columns with the values 0
df['average_duration'] = 0
df['single_page_visits'] = 0
df['single_page_visits_campagne'] = 0
df['campagne_visits'] = 0
df['cpc']= 0
df['top_campagne_source'] = 0
df['total_cost'] = 0
df['total_actions'] = 0
df['total_visits_monthly_target'] = 0
df['unique_visits_monthly_target'] = 0
df['page_loads_monthly_target'] = 0

<span style="color:red">Generating randomized values to fill the columns </span>

In [189]:
import random

# Function to generate random time between 1 minute 10 seconds and 3 minutes
def generate_random_time():
    minutes = random.randint(1, 2)  # Generate random minutes between 1 and 2
    seconds = random.randint(10, 59)  # Generate random seconds between 10 and 59
    return f'{minutes:02d}:{seconds:02d}:00'  # Format the time as HH:MM:SS

# Add random values to the 'average_duration' column
df['average_duration'] = [generate_random_time() for _ in range(len(df))]

In [191]:
import numpy as np

# Generate random values for the column campagne_visits
# Ensure the total number of visits amounts to either 1/3 or 1/4 of the total visits represented by the column total_visits
# // 3 will divide each row of total_visits by 3 and assign that value to the campagne_visits 
# // 2 + 1 calculates the division of the two columns by 2, then adds 1 to that value
# size=len(df) ensures that the campagne_visits will have all its rows filled 

# Ensure the total number of single page visits amount to either 1/4 or 1/6 of total_visits
df['single_page_visits'] = np.random.randint(df['total_visits'] // 6, df['total_visits'] // 4, size=len(df))  

# The following code will generate random integers between the value of 1/3 of 'total_visits' and the value of 1/2 of 'total_visits' for each row
df['campagne_visits'] = np.random.randint(df['total_visits'] // 3, df['total_visits'] // 2 + 1, size=len(df))

# Add the 'cpc' column with random values ranging from 0.84$ to 1.72$
df['cpc'] = np.random.uniform(0.84, 1.94, size=len(df))

# Add the 'total_cost' column and round up the number
df['total_cost'] = round(df['cpc'] * df['campagne_visits'], 0)
# Convert 'total_cost' column to integers
df['total_cost'] = df['total_cost'].astype(int)   


# List of campagne sources
sources = ["facebook", "twitter", "snapchat", "instagram", "sea", "backlinks"]

# Add to "top_campagne_source" random values from the sources list
df['top_campagne_source'] = np.random.choice(sources, size=len(df))

# Generate random values for the 'total_actions' column
# The range 300 and 2001 has been chosen following the analysis of the minimum and maximum values of the total_visits column
df['total_actions'] = np.random.randint(300, 2001, size=len(df))

In [194]:
# Ensure the total number of single page visits amount to either 1/3 or 1/3 of the value in the campagne_visits column
df['single_page_visits_campagne'] = np.random.randint(df['campagne_visits'] / 3, df['campagne_visits'] / 2 + 1, size=len(df))

# The sum of the column must not exceed 1/2 of the sum of 'campagne_visits' (as to have somewhat realistic data)
# Set the upper bound for 'single_page_vists_campagne' to 1/2 of the sum of 'campagne_visits'
upper_bound = 1330983

# Ensure the sum of 'single_page_vists_campagne' does not exceed the upper bound
sum_single_page_visits_campagne = df['single_page_visits_campagne'].sum()
if sum_single_page_visits_campagne > upper_bound:
    excess_visits = sum_single_page_visits_campagne - upper_bound
    df['single_page_visits_campagne'] -= excess_visits
    # Adjusting the values to meet the lower bound requirement
    while (df['single_page_visits_campagne'] < lower_bound).any():
        idx = df['single_page_visits_campagne'] < lower_bound
        df.loc[idx, 'single_page_visits_campagne'] += 1

In [180]:
df['monthly_visits'] = df['date'].astype(str).str[0]

# Group by the first digit of the 'date' column and sum the 'total_visits'
monthly_visits = df.groupby('month')['total_visits'].sum()

monthly_visits

month
1    2208090
2     545183
3     606474
4     668327
5     627004
6     474321
7     415096
8     389819
9     444568
Name: total_visits, dtype: int32

In [181]:
df['unique_monthly_visits'] = df['date'].astype(str).str[0]

unique_visits_monthly = df.groupby('month')['unique_visits'].sum()

unique_visits_monthly

month
1    1837229
2     454417
3     502237
4     553564
5     515235
6     384882
7     334195
8     314607
9     373397
Name: unique_visits, dtype: int32

In [182]:
df['page_monthly_loads'] = df['date'].astype(str).str[0]

page_loads_monthly = df.groupby('month')['page_loads'].sum()

page_loads_monthly

month
1    3084715
2     754805
3     843752
4     930125
5     870538
6     668472
7     591019
8     557063
9     621027
Name: page_loads, dtype: int32

In [192]:
# Define a dictionary to have the total number of visits per month 
monthly_visits_dict = {
    1: 2208090,
    2: 545183,
    3: 606474,
    4: 668327,
    5: 627004,
    6: 474321,
    7: 415096,
    8: 389819,
    9: 444568}

# Convert 'date' column to string and extract the first character
df['month'] = df['date'].astype(str).str[0]

# Subtract 1 from 'first_date_digit' to get the previous month's digit
df['previous_month'] = df['month'].astype(int) - 1

# Assign the values based on the total amount of visits of the previous month 
df['total_visits_monthly_target'] = df['previous_month'].map(monthly_visits_dict)


unique_visits_monthly_dict = {
    1: 1837229,
    2: 454417,
    3: 502237,
    4: 553564,
    5: 515235,
    6: 384882,
    7: 334195,
    8: 314607,
    9: 373397}
df['unique_visits_monthly_target'] = df['previous_month'].map(unique_visits_monthly_dict)


page_loads_monthly_dict = {
    1: 3084715,
    2: 754805,
    3: 843752,
    4: 930125,
    5: 870538,
    6: 668472,
    7: 591019,
    8: 557063,
    9: 621027}
df['page_loads_monthly_target'] = df['previous_month'].map(page_loads_monthly_dict)

In [196]:
# Drop the'previous_month'column
df.drop('previous_month', axis=1, inplace=True)

In [197]:
df

,day,day_of_week,date,page_loads,total_visits,unique_visits,returning_visits,average_duration,single_page_visits,single_page_visits_campagne,campagne_visits,cpc,top_campagne_source,total_cost,total_actions,total_visits_monthly_target,unique_visits_monthly_target,page_loads_monthly_target,month
0,Sunday,1,9/14/2014,2146,1582,1430,152,02:56:00,298,224,666,1.900177,instagram,1266,1204,389819.0,314607.0,557063.0,9
1,Monday,2,9/15/2014,3621,2528,2297,231,01:19:00,555,423,1064,1.282578,backlinks,1365,958,389819.0,314607.0,557063.0,9
2,Tuesday,3,9/16/2014,3698,2630,2352,278,01:54:00,618,326,901,1.160371,facebook,1045,899,389819.0,314607.0,557063.0,9
3,Wednesday,4,9/17/2014,3667,2614,2327,287,02:22:00,573,552,1178,1.007181,sea,1186,1332,389819.0,314607.0,557063.0,9
4,Thursday,5,9/18/2014,3316,2366,2130,236,02:50:00,469,384,952,1.880208,sea,1790,1996,389819.0,314607.0,557063.0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2162,Saturday,7,8/15/2020,2221,1696,1373,323,01:52:00,309,272,734,1.604283,backlinks,1178,1718,415096.0,334195.0,591019.0,8
2163,Sunday,1,8/16/2020,2724,2037,1686,351,02:21:00,472,306,796,1.802960,twitter,1435,1921,415096.0,334195.0,591019.0,8
2164,Monday,2,8/17/2020,3456,2638,2181,457,01:26:00,606,534,1113,1.393720,twitter,1551,361,415096.0,334195.0,591019.0,8
2165,Tuesday,3,8/18/2020,3581,2683,2184,499,02:47:00,668,505,1245,1.802775,facebook,2244,1316,415096.0,334195.0,591019.0,8
2166,Wednesday,4,8/19/2020,2064,1564,1297,267,02:37:00,337,215,581,1.276611,instagram,742,1729,415096.0,334195.0,591019.0,8

<span style="color:red"> Export the dataset as a csv file</span>

In [198]:
# Export the DataFrame to a CSV file
df.to_csv('web_traffic.csv', index=False)

# To visualize the data, please direct yourself to my Looker studio projects repository on my github profile

The project may be found under the title **"Web Traffic Data Visualization"**